*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.6);
    color: white;
    font-weight: bold;
}
.container{
    display: flex;
    flex-wrap: wrap;
}
.btn{
    padding: 10px 20px;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    margin-left: 45%;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: rgb(209, 58, 58);
    border: none;
    outline: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(230, 43, 43);
}
.box{
    width: 20%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
}